<table class="table">
  <thead>
    <tr>
      <th>Field</th>
      <th>User</th>
    </tr>
  </thead>
  <tr>
    <td>Username</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>First name</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Last name</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
</table>
