<h1>All Events</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>What</th>
      <th>Where</th>
      <th>When</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "events/event", collection: @events %>
  </tbody>
</table>

<br>

<%= button_to 'Create Event', new_event_path, method: :get, class: "btn btn-primary" %>

<h2>Your Schedule</h2>
<div class="your-schedule">
  <%= render partial: "/events/user_events", collection: @user_events, as: :event %>
</div>
